body{
    background-color: black;
}
.main{
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 10px solid rgb(66, 65, 65);
    background-color: #979696;
    border-radius: 20%;
}

.question{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    margin-left: 25%;
    margin-top: 7%;
}

.btn-yes{
    position: absolute;
    top: 175px;
    left: 50px;
}

.btn-no{
    position: absolute;
    top: 175px;
    left: 330px;
}

.reset{
    position: absolute;
    left: 175px;
    top: 230px;
    /* font-family: 'Indie Flower', cursive; */
    font-size: 15px;
    cursor: pointer;
}

/* top  100-175 */
/* left 150-330 */


.btn-yes,.btn-no{
    padding: 10px 20px 10px 20px;
    border-radius: 30%;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-no:hover,.btn-yes:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn-no:focus,.btn-yes:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}